.write{
    display: flex;
    justify-content: center;
  
    h4{
      font-size: 0.7rem;
      color: $Light-Grayish-Blue;
    }
    .switch{
      position: relative;
      display: inline-block;
      width: 50px;
      height: 20px;
      margin: 0 5px;
    }
    .slider{
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      transition: .2s;
      border-radius: 34px;
    
    }
    .switch input {display: none}
    
    .slider:before
    {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 3px;
      bottom: 4px;
      background-color: #fff;
      transition: 0.2s;
      border-radius: 50px;
    }
    
    
    input:checked + .slider
    {
      background-color: $Soft-Cyan;
    
    }
    input:checked + .slider::before
    {
      transform: translateX(30px);
      
    }
    span{
      color: $Light-Red;
      background-color: $Light-Grayish;
    }
  }












  